/*-------------------------------------new ICONS font for navbars----------------------------------------*/
@font-face {
    font-family: "madfont";
    src: url("../../static/fonts/madfont.ttf") format("TrueType"),
           url("../../static/fonts/madfont.otf") format("OpenType");
   }


/*======================================================LARGE SCREENS===========================================*/
@media screen and (min-width: 900px){
    /*--------------------------------------------GENERALS PARAMS--------------------------------------------*/
    body{
        margin: 0px;
        font-family:'Montserrat', sans-serif, 'Times New Roman', Times, serif;
        display: flex;
        max-width: 100vw;
    }
    #main-content{
        width: 100%;
        max-width: 100%;
    }
    /*----------------------------------------------MAIN NAVBAR----------------------------------------------*/
    #main_navbar{
        position: sticky;
        top: 0;
        font-size: 13px;
        background: linear-gradient(90deg, rgba(8,40,83,1) 0%, rgba(8,40,83,1) 84%, rgba(8,40,83,0.8) 100%);
        height: 100vh;
        width: min-content;
    }
    #main_navbar a{
        color: inherit;
        text-decoration: none;
    }
    #main_navbar_ul{
        list-style-type: none;
        margin: 0px 0px;
        padding-left: 0px;
        padding-top: 2vh;
    }
    .main_nav_li{
        min-height: 38px;
        line-height: 38px;
        color: white;
    }
    .main_nav_li:hover{
        background: linear-gradient(90deg, rgba(3, 17, 36, 1) 0%, rgba(3, 17, 36, 1) 74%, rgba(3, 17, 36, 0) 100%);
        /* background-color: rgb(3, 17, 36); */
        cursor: pointer;
        -moz-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: background-color 300ms ease;
        color: rgb(18, 98, 204);
    }
    .mainnav_li_container{
        padding: 13px 11px 13px 17px;
    }
    .mainnav_li_container>a{
        display: flex;
    }
    .main_nav_entry{
        padding-left: 8px;
        width: auto !important;
    }
    .main_nav_icon{
        font-family: "madfont";
        font-size: 30px;
    }
    #btn{
        display: none;
        position: absolute;
        top: 0%;
        right: 0px;
        height: 100vh;
    }
    #btn>img{
        position: relative;
        top: 48vh;
        height: 4vh;
    }
    #btn2{
        display: none;
        position: absolute;
        top: 48vh;
        right: 0px;
    }
    #btn2>img{
        height: 4vh;
    }
    #main_navbar:hover #btn{
        display: block;
        transform: translateX(102%);
    }
    .small:hover .small_nav_entry{
        display: block !important;
        -moz-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    }
    .small_nav_entry{
        width: 0px !important;
        visibility: hidden;
        -moz-transition: width 300ms ease;
        -o-transition: width 300ms ease;
        transition: width 300ms ease;
    }
    .small_nav_li_container{
        padding-right: 17px;
        -moz-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    }

    /*---------------------------------------------TOP CONTENT----------------------------------------------*/
    #top_content_part{
        height: 20vh;
        display: flex;
        background-color: rgb(18, 98, 204);
    }
    #left_top_content_part{
        width: 85%;
        background-color: rgb(8, 40, 83);
        text-align: right;
        color: white;
        padding-right: 2vw;
        font-family: "madfont";
        font-size: 2.9vh;
        padding: 1vh 1vw;
    }
    #left_top_content_part p{
        margin: 1.1vh;
    }
    #current_location{
        position: absolute;
        font-family: 'Montserrat', sans-serif, 'Times New Roman', Times, serif;
    }
    #left_top_content_part a{
        padding: 0.7vh;
        color: white;
        text-decoration: none;
        border-radius: 50%;
        border: 2px solid white;
        transition: all 0.2s ease-in-out;
    }
    #left_top_content_part a:hover{
        color: rgb(18, 98, 204);
        margin-right: -1vh;
        transition: all 0.2s ease-in-out;
    }
    #github_p{
        transform: translate(-1.5em, -0.3em);
    }
    #mail_p{
        transform: translate(-1.5em, 0.2em);
    }
    #right_top_content_part{
        width: 15%;
        height: 100%;
    }
    #right_top_content_part>img{
        border-radius: 50%;
        border: 2px solid white;
        max-height: 16vh;
        max-width: 80%;
        display: block;
        margin: auto;
        margin-top: 2vh;
    }
    #current_location{
        font-size: 4vw;
        opacity: 0.3;
        padding-left: 1vw;
        padding-top: 2.5vh;
    }
    .titleYear{
        color: white;
        background-color: rgb(8, 40, 83);
        padding: 0.5vh 0.5vw;
    }
    .year div{
        margin: 4vh 0vw 2vh 50px;
        position: relative;
    }
    .confFile{
        position: absolute;
        left: -55px;
        top: -15px;
        z-index: 1;
    }
    .confName{
        position: relative;
        text-indent: -30px;
        z-index: 2;
    }
    .year p{
        margin: 0;
    }
    .confType{
        font-style: italic;
    }
    /*---------------------------------------------CENTRAL PART---------------------------------------------*/
    #central_part{
        padding: 6vh 10vw;
    }
    .programTable{
        margin-bottom: 4vh;
        border-collapse: collapse;
        width: 100%;
    }
    .programTable>tr>td{
        border: 1px solid black;
        padding: 0.5vh 1vw;
    }
    .programTable .title{
        width: 15%;
    }
    .Name{
        background-color: rgb(8, 40, 83);
        color: white;
    }
    .Publication>.content{
        font-family:serif, 'Times New Roman', Times, serif;
    }
    #MAD_titles{
        list-style-type: none;
        padding-left: 0px;
    }
    #MAD_titles li:before{
        content: "➢ ";
        color: rgb(18, 98, 204);
        font-size: larger;
    }
    .italic{
        font-style: italic;
    }
    #main_scientific_interests{
        line-height: 150%;
        font-size: larger;
        text-align: justify;
    }
    #main_scientific_interests h1{
        text-align: left;
    }
    #spaghettis_part{
        display: flex;
        background: linear-gradient(20deg, rgba(8,40,83,1) 30%, rgba(18,98,204,1) 50%, rgba(8,40,83,1) 70%);
        color: white;
        padding: 2vh 2vw;
        border-radius: 50px 0 50px 0;
    }
    #p_spa_1{
        min-width: 18vw;
    }
    #spa_img{
        height: 100%;
        border-radius: 50%;
        margin-left: 4vh;
    }
    .spaghettis{
        float: right;
        cursor: pointer;
        font-weight: bold;
    }
    .spaghettis:hover{
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        padding: 0vh 1vw 1vh 0vw;
        border-radius: 50%;
    }
    /* .num{
        color: white;
        background-color:rgba(8,40,83,1);
        position: absolute;
        bottom: 0;
        margin: 0;
        z-index: 3;
    } */
    .centered{
        text-align: center;
    }
    /* .gsc_md_hist_w{
        margin-top: 10vh;
    } */
    /* .gsc_g_a{
        width: 30px !important;
    } */
    /*-------------------------------------stylising MAD's code without changing contain----------------*/
    #slides{
        border-radius: 50px;
    }
    #slides_body>p{
        text-align: center;
    }
    #slides_body{
        background: radial-gradient(circle, rgba(18,98,204,1) 0%, rgba(18,98,204,1) 47%, rgba(8,40,83,1) 100%);
        display: block;
    }
}
/*======================================================SMALL SCREENS===========================================*/
@media screen and (max-width: 900px) {
    /*--------------------------------------------GENERALS PARAMS--------------------------------------------*/
    body{
        margin: 0px;
        font-family:'Montserrat', sans-serif, 'Times New Roman', Times, serif;
        display: flex;
        max-width: 100vw;
    }
    #main-content{
        width: calc(100vw - 66px);
        max-width: calc(100vw - 66px);
    }
    #content{
        width: 100%;
        max-width: 100%;
    }
/*=== === === === ===
    /*----------------------------------------------MAIN NAVBAR----------------------------------------------*/
    #main_navbar{
        position: sticky;
        top: 0;
        font-size: 13px;
        background: linear-gradient(90deg, rgba(8,40,83,1) 0%, rgba(8,40,83,1) 84%, rgba(8,40,83,0.8) 100%);
        height: 100vh;
        width: min-content;
    }
    #main_navbar a{
        color: inherit;
        text-decoration: none;
    }
    #main_navbar_ul{
        list-style-type: none;
        margin: 0px 0px;
        padding-left: 0px;
        padding-top: 2vh;
    }
    .main_nav_li{
        min-height: 38px;
        line-height: 38px;
        color: white;
    }
    .main_nav_li:hover{
        background: linear-gradient(90deg, rgba(3, 17, 36, 1) 0%, rgba(3, 17, 36, 1) 74%, rgba(3, 17, 36, 0) 100%);
        /* background-color: rgb(3, 17, 36); */
        cursor: pointer;
        -moz-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: background-color 300ms ease;
        color: rgb(18, 98, 204);
    }
    .mainnav_li_container{
        padding: 13px 11px 13px 17px;
    }
    .mainnav_li_container>a{
        display: flex;
    }
    .main_nav_icon{
        font-family: "madfont";
        font-size: 30px;
    }
    #btn>img{
        position: relative;
        top: 48vh;
        height: 4vh;
    }
    #btn2{
        display: none;
        position: absolute;
        top: 48vh;
        right: 0px;
    }
    #btn2>img{
        height: 4vh;
    }
    #main_navbar:hover #btn{
        display: block;
        transform: translateX(102%);
    }
    .small:hover .small_nav_entry{
        display: block !important;
        -moz-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    }
    .small_nav_entry{
        width: 0px !important;
        visibility: hidden;
        -moz-transition: width 300ms ease;
        -o-transition: width 300ms ease;
        transition: width 300ms ease;
    }
    .small_nav_li_container{
        padding-right: 17px;
        -moz-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    }

    /*---------------------------------------------TOP CONTENT----------------------------------------------*/
    #top_content_part{
        height: 30vh;
        width: 100%;
        max-width: 100%;
        display: flex;
        background-color: rgb(18, 98, 204);
    }
    #left_top_content_part{
        width: 45%;
        background-color: rgb(8, 40, 83);
        text-align: right;
        color: white;
        padding-right: 2vw;
        font-family: "madfont";
        font-size: 2.9vh;
        padding: 1vh 1vw;
    }
    #right_top_content_part{
        width: 50%;
        height: 100%;
    }
    .main_nav_entry{
        width: 0px !important;
        visibility: hidden;
        padding-left: 8px;
    }
    #btn{
        visibility: hidden !important;
        display: none;
        position: absolute;
        top: 0%;
        right: 0px;
        height: 100vh;
    }
    #left_top_content_part p{
        margin: 3vh;
        
    }
    #right_top_content_part>img{
        max-height: 26vh;
        max-width: 80%;
        display: block;
        margin: auto;
        margin-top: 2vh;
        border-radius: 50%;
        border: 2px solid white;
    }
    #current_location{
        writing-mode: vertical-rl;
        text-orientation: mixed;
        position: absolute;
        font-family: 'Montserrat', sans-serif, 'Times New Roman', Times, serif;
        font-size: 4vw;
        opacity: 0.3;
        padding-left: 1vw;
        padding-top: 2.5vh;
    }
    #left_top_content_part a{
        padding: 0.7vh;
        color: white;
        text-decoration: none;
        border-radius: 50%;
        border: 2px solid white;
        transition: all 0.2s ease-in-out;
    }
    #left_top_content_part a:hover{
        color: rgb(18, 98, 204);
        margin-right: -1vh;
        transition: all 0.2s ease-in-out;
    }
    #github_p{
        transform: translate(-1.5em, -0.3em);
    }
    #mail_p{
        transform: translate(-1.5em, 0.2em);
    }
    .titleYear{
        color: white;
        background-color: rgb(8, 40, 83);
        padding: 0.5vh 0.5vw;
    }
    .year div{
        margin: 4vh 0vw 2vh 50px;
        position: relative;
    }
    .confFile{
        position: absolute;
        left: -55px;
        top: -15px;
        z-index: 1;
    }
    .confName{
        position: relative;
        text-indent: -30px;
        z-index: 2;
    }
    .year p{
        margin: 0;
    }
    .confType{
        font-style: italic;
    }
    /*---------------------------------------------CENTRAL PART---------------------------------------------*/
    #central_part{
        padding: 6vh 10vw;
        width: 77%;
        max-width: 77%;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
    #ordered_pgms{
        text-align: left !important;
    }
    #central_part p{
        text-align: justify;
    }
    .programTable{
        margin-bottom: 4vh;
        border-collapse: collapse;
        width: 100%;
    }
    .programTable>tr>td{
        border: 1px solid black;
        padding: 0.5vh 1vw;
    }
    .programTable .title{
        width: 15%;
    }
    .programTable .content{
        max-width: 40vw;
        word-wrap: break-word;
    }
    .Name{
        background-color: rgb(8, 40, 83);
        color: white;
    }
    .Publication>.content{
        font-family:serif, 'Times New Roman', Times, serif;
    }
    #MAD_titles{
        list-style-type: none;
        padding-left: 0px;
    }
    #MAD_titles li:before{
        content: "➢ ";
        color: rgb(18, 98, 204);
        font-size: larger;
    }
    .italic{
        font-style: italic;
    }
    #main_scientific_interests{
        line-height: 150%;
        font-size: larger;
        text-align: justify;
    }
    #main_scientific_interests h1{
        text-align: left;
    }
    #spaghettis_part{
        display: flex;
        background: linear-gradient(20deg, rgba(8,40,83,1) 30%, rgba(18,98,204,1) 50%, rgba(8,40,83,1) 70%);
        color: white;
        padding: 2vh 2vw;
        border-radius: 50px 0 50px 0;
    }
    #p_spa_1{
        min-width: 18vw;
    }
    #spa_img{
        border-radius: 50%;
        width: 25vw;
        padding: 0 0 2vh 2vw;
    }
    .spaghettis{
        float: right;
        cursor: pointer;
        font-weight: bold;
    }
    .spaghettis:hover{
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        padding: 0vh 1vw 1vh 0vw;
        border-radius: 50%;
    }
    .num{
        color: white;
        background-color:rgba(8,40,83,1);
        position: absolute;
        bottom: 0;
        margin: 0;
        z-index: 3;

    }
    .centered{
        text-align: center;
    }
    /* .gsc_md_hist_w{
        margin-top: 10vh;
    } */
    /* .gsc_g_a{
        width: 30px !important;
    } */
    /*-------------------------------------stylising MAD's code without changing contain----------------*/
    #slides{
        border-radius: 50px;
    }
    #slides_body>p{
        text-align: center;
    }
    #slides_body{
        background: radial-gradient(circle, rgba(18,98,204,1) 0%, rgba(18,98,204,1) 47%, rgba(8,40,83,1) 100%);
        display: block;
    }








}